/*
*****************************************************
* WEBMAN'S WORDPRESS THEME FRAMEWORK
* Created by WebMan - www.webmandesign.eu
*
* Admin CSS styles
*****************************************************
*/

/*********************************************/
/* general classes                           */
/*********************************************/

.text-center {text-align: center}



/*********************************************/
/* contextual help                           */
/*********************************************/

#contextual-help-link-wrap {
	height: 28px;
	padding: 0 10px;
	background: #464646;
}
#contextual-help-link-wrap #contextual-help-link {
	height: 28px;
	line-height: 28px;
	text-shadow: none;
	background-position: right 8px;
	color: #ccc;
}
#contextual-help-link-wrap #contextual-help-link.screen-meta-active {background-position: right -28px}

.contextual-help-tab {
	padding: 9px 9px 9px 56px;
	margin: 0 0 10px;
	background: #f6f6f6;
	border: 1px solid #ccc;
	}
.contextual-help-tab-title {
	padding: 14px 9px 14px 46px;
	margin: 0 0 0 -46px;
	font-size: 1.25em;
	text-transform: uppercase;
	text-shadow: 1px 1px #fff;
	background: transparent url(../img/icons/ico-help.png) no-repeat 4px 50%;
	/* border: 1px solid #ddd; */
	}
	.contextual-help-tab-title.toggle-title {cursor: pointer}
	.contextual-help-tab-content.active {border-top: 1px solid #ccc}

.contextual-help-tab code,
.help-tab-content code {
	font-weight: bold;
	background: #eee;
}
	code.example {
		display: block;
		padding: 8px 20px;
		margin-top: 5px;
	}

div.shortcode-help {
	padding: 0 0 20px;
	border-top: 1px dashed #ccc;
}
	div.shortcode-help:first-child {border: none}
	h3.small-toggle-title {
		padding: 20px 0 0 24px;
		margin: 0;
		background: transparent url(../img/buttons/plus.png) no-repeat 0 20px;
		cursor: pointer;
	}
		h3.small-toggle-title.active {background-image: url(../img/buttons/minus.png)}

table.attributes {
	border: 1px solid #eee;
	border-bottom: none;
}
	table.attributes td {
		padding: 5px 10px;
		border-bottom: 1px solid #eee;
	}
	table.attributes td:first-child {background: #eee}



/*********************************************/
/* forms                                     */
/*********************************************/

select.widefat {background-color: #fff}
select[multiple] {height: 80px !important}



/*********************************************/
/* admin posts/pages/custom post             */
/*********************************************/

.fixed .column-wm-template {
	width: 8em;
	text-align: center;
	}
.fixed .column-wm-template {width: 14em}
.fixed .column-wm_modules-thumb,
.fixed .column-wm_modules-thumb img {
	padding-bottom: 3px;
	vertical-align: middle;
}
.fixed .column-wm-thumb,
.fixed .column-wm_slides-thumb,
.fixed .column-wm_portfolio-thumb,
.fixed .column-wm_team-thumb,
.fixed .column-wm_clients-thumb {
	width: 80px;
	text-align: center;
}
.fixed .column-wm_modules-thumb {
	width: 100px;
	text-align: center;
}
	.fixed .column-wm_modules-thumb small {display: block}

.shortcode-in-list-table {width: 200px}

.icon32-posts-wm_clients,
.icon32-posts-wmclients {background: transparent url(../img/icons/ico-clients-32x32.png) no-repeat 50% 50% !important}
.icon32-posts-wm_testimonials,
.icon32-posts-wmtestimonials {background: transparent url(../img/icons/ico-testimonials-32x32.png) no-repeat 50% 50% !important}
.icon32-posts-wm_portfolio,
.icon32-posts-wmportfolio {background: transparent url(../img/icons/ico-portfolio-32x32.png) no-repeat 50% 50% !important}
.icon32-posts-wm_slides,
.icon32-posts-wmslides {background: transparent url(../img/icons/ico-featured-32x32.png) no-repeat 50% 50% !important}
.icon32-posts-wm_team,
.icon32-posts-wmteam {background: transparent url(../img/icons/ico-team-32x32.png) no-repeat 50% 50% !important}
.icon32-posts-wm_modules,
.icon32-posts-wmmodules {background: transparent url(../img/icons/ico-column-32x32.png) no-repeat 50% 50% !important}



/*********************************************/
/* meta boxes                                */
/*********************************************/

#wm-pagemeta .inside,
#wm-postmeta .inside {min-height: 380px} /* WP class */



/*********************************************/
/* visual editor styles                      */
/*********************************************/

div.mceMenu.mceListBoxMenu {
	width: 200px !important;
	height: 240px !important;
	}
	div.mceMenu.mceListBoxMenu table {width: 100% !important}
	td.mceMenuItemTitle a {
		background: #c4c4c4 url(../img/gradient-top.png) repeat-x center !important;
		border-bottom: none !important;
		border-top: 1px solid #aaa !important;
		}
	td.mceMenuItemTitle .mceText {
		padding-left: 10px !important;
		font-size: 0.75em !important;
		text-transform: uppercase !important;
		color: #444 !important;
		}

a#content_styleselect_text {width: 36px !important}
span.inline-help {
	position: absolute;
	width: 100% !important;
	height: 100% !important;
	left: 0;
	top: 0;
	padding: 0 !important;
	background: url(../img/icons/ico-help-inline.png) no-repeat 160px 50%;
	}



/*********************************************/
/* widgets admin area styles                 */
/*********************************************/

.wm-desc {
	font-family: Georgia, Times, serif;
	font-size: 11px;
	font-style: italic;
	line-height: 1.25em;
	color: #666;
	padding-bottom: 0.65em !important;
	border-bottom: 1px solid #ddd;
	}

div[id*="wm-"] .widget-top {
	margin-top: 0 !important;
	background: #111 url(../img/gradient-top.png) repeat-x 50% !important;
	color: #fff !important;
	text-shadow: 0 -1px #000 !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	border: 1px solid #000 !important;
	}
	div[id*="wm-"] .widget-top h4 {
		height: 16px;
		margin: -2px 0;
		line-height: 16px;
	}
	div[id*="wm-"] .widget-top h4:before {
		content: '';
		display: inline-block;
		width: 12px;
		height: 12px;
		margin: 2px 5px 2px 0;
		background: url(../img/logos/admin-logo-white-small.png) no-repeat;
		vertical-align: top;
		}
	div[id*="wm-"] .in-widget-title {color: #ddd !important}

.custom-sidebar-name {
	color: #f3f3f3 !important;
	text-shadow: 0 -1px rgba(0,0,0, 0.33) !important;
	background: #369 url(../img/gradient-top.png) repeat-x 50% !important;
	box-shadow: none !important;
	}
	.custom-sidebar-name:hover h3 {color: #fff !important}



/*********************************************/
/* update notifier                           */
/*********************************************/

.update-notifier {}
.update-notifier #instructions {
	max-width: 640px;
	margin-right: 40px;
	float: left;
	}
.update-notifier .theme-img {
	float: left;
	width: 140px;
	margin: 10px 20px 20px 0;
	}
.update-notifier ol {clear: both}
.update-notifier .note {
	padding: 10px 20px;
	background: #f3f3f3;
	border: 1px solid #ccc;
	}
.update-notifier #changelog {
	float: left;
	max-width: 400px;
	margin-top: 30px;
	padding: 20px;
	}



/*********************************************/
/* fancybox styles                           */
/*********************************************/

#fancybox-outer {background: transparent !important}
#fancybox-content {border-color: transparent !important}

/* End of file */